/* centre the main content area */
main {
    padding-top: 2px;
    max-width: 100%;
    background-color: orange;
    background-image: url("trippy.png");
    margin: auto;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 1000px;
    
}

main .backImage{
    margin: auto;
    margin-top: -15px;
    background-image: url("blue.png");
    background-size: 735px;
    background-repeat: no-repeat;
    background-position: center top;
}

/* page headings */
h1 {
    width: 705px;
    margin: auto;
    background-position: center;
    text-align: center;
    padding: 10px;
    border: double;
    border-color: red;
}

.font1 {
    font-family: Arial, Helvetica, serif;
    color: white;
}

.font2 {
    font-family: Brush Script, Helvetica, serif;
    font-style: italic;
    color: white;
    font-size: 18px;
    background-color: black;
}

.font3 {
    font-family: Brush Script, Helvetica, serif;
    font-style: italic;
    color: red;
    font-size: 16px;
    padding-left: 15px;
}

.font4 {
    font-family: Arial, Helvetica, serif;
    color: white;
    background-color: black;
    font-size: 32px
}

.font5 {
    font-family: Brush Script, Helvetica, serif;
    color: white;
    font-size: 18px;
    background-color: black;
}

.font6 {
    font-family: Brush Script, Helvetica, serif;
    font-style: italic;
    color: white;
    font-size: 18px;
}

.font7 {
    font-family: Brush Script, Helvetica, serif;
    color: red;
    font-size: 18px;
}
.font8 {
    font-family: Arial, Helvetica, serif;
    color: white;
    background-color: black;
    font-size: 24px
}
/* nav links */
nav a {
    border: double;
    padding: 5px;
    margin: 5px;
    background-color: black;
    border-color: red;
    text-decoration: white;
    border-radius: 0px;
}

header .logo a {
    background-color: black;
    background-image: url("logo.png");
    object-position: center top;
    background-repeat: no-repeat;
    background-size: 729px;
    display: inline-block;
    width: 729px;
    height: 150px;
    margin: 0px 0px 0px -40px;
    background-position-y: -90px;
}

nav {
    text-align: center;
    padding-top: 1px;
}

/* tables */
table {
    width: 729px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px 0px;
    border: double;
    border-color: red;
    color: red;
    background-color: black;
}

td, th {
    border: thin;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding: 5px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* forms */
form {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 1em 1em;
}

fieldset {
    width: 700px;
    margin: auto;
    border-color: red;
    background-color: black;
}

label {
    grid-column: 1 / 2;
    text-align: right;
}

input, button, select, textarea {
    grid-column: 2 / 3;
}

textarea {
    height: 4em;
    resize: vertical;
}

/* colours */
th, a.nav, legend, label {
    color: darkslategray;
}

.checkoutLayout button {
    width: 100px;
    margin: auto;
    background-position: center;
}

h1, button {
    background-color: darkslategrey;
    color: white;
}

td, th {
    border-color: darkslategrey;
}
