<!DOCTYPE html>
<html>
    <head>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <title>Browse Products Page</title>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    
    <body>
        <main>
           <ul><li class="backImage">
           <navmen></navmen>
                        
            <h1 class="font4">Products</h1>
            <p></p>
            
            <div class="categories">
                <button class="font2" @click.prevent="getProducts()">All</button>
                <button class="font2" @click.prevent="filterByCategory(category)" v-for="category in categories">{{category}}</button>
            </div>
            <p></p>
            
            <table>
         <thead>
                    <th class="font6">Name</th>
                    <th class="font6">Description</th>
                    <th class="font6">Price</th>
                    <th class="font6">Available</th>
              </tr>
         </thead>
         <tbody>
            <tr v-for="product in products">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{formatCurrency(product.listPrice)}}</td>
                <td>{{formatNumber(product.quantityInStock, 0)}}</td>
                
		<td><form @click.prevent="buyProduct(product)"><button class="font2">Buy</button></form>
                </td>
            </tr>
         </tbody>
    </table>

    <p class="nav"><a class="font3" href="index.html">Return to home</a></p>
    </li></ul>
            
        </main>
        
        <script type="module" src="js/browse.js"></script>
        
    </body>
    
</html>
