<!DOCTYPE html>
<html>
    <head>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Account Creation Page</title>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
	<body>
            <main>
                <navmen></navmen>
                        
                <h1 class="font1">Create a new account</h1>

		<fieldset>

		<legend>Customer Details</legend>

		<form @submit.prevent="createAccount()">
                    <label>First Name:</label><input type="text" v-model="customer.firstName"/>
                    <label>Surname:</label><input type="text" v-model="customer.surname"/>
                    <label>Username:</label><input type="text" v-model="customer.username"/>
                    <label>Password:</label><input type="password" v-model="customer.password"/>
                    <label>Email Address:</label><input type="email" v-model="customer.emailAddress"/>
                    <label>Shipping Address:</label><textarea type="text" v-model="customer.shippingAddress"></textarea>    
            
                    <button type="submit">Create Account</button>
		</form>

		</fieldset>

            <a class="nav" href="index.html">Back to Home</a>

        </main>
            
            <script type="module" src="js/create-account.js"></script>
            
    </body>
</html>
