<!DOCTYPE html>
<html>
    <head>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <link rel="stylesheet" href="css/style.css"/>
        <title>Login page</title>
    </head>
    
    <body>
        <main>
            <ul><li class="backImage">
            <navmen></navmen>
            
            <h1 class="font4">Sign In</h1>
            <p></p>
            
            <fieldset>
			<legend class="font3">Enter Login details</legend>

			<form @submit.prevent="login(username)">
                                       
                            <label class="font1">Username:</label><input type="text" v-model="username"/>
                            <label class="font1">Password:</label><input type="password" v-model="password"/>
            
                            <button class="font2" type="submit">Sign-in</button>

			</form>

            </fieldset>
            
            <p class="nav"><a class="font3" href="index.html">Back to Home</a></p>
            
        </li></ul>

        </main>
        
        <script type="module" src="js/sign-in.js"></script>
        
    </body>
</html>
